/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f5f7fa;
  color: #333;
  transition: background 0.3s, color 0.3s;
}


.app-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
